---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: ubuntu
    tag: bionic

inputs:
  - name: pks
  - name: pipeline-repo
outputs:
  - name: k8s_vars
params:
  PKS_PASSSWORD:
  PKS_USERNAME:
  PKS_API:
  CLUSTER_NAME:


run:
  path: pipeline-repo/tasks/get-master-ips/get-master-ips.sh
